# ValidationResult

- Type: class
- Namespace: <a class="xref" href="ArcGIS.html">ArcGIS</a>.<a class="xref" href="ArcGIS.Core.html">Core</a>.<a class="xref" href="ArcGIS.Core.Data.html">Data</a>.<a class="xref" href="ArcGIS.Core.Data.Topology.html">Topology</a>
- Assembly: ArcGIS.Core.dll

<p sourcefile="api/ArcGIS.Core.Data.Topology.ValidationResult.yml" sourcestartlinenumber="1">Provides information about the results of a call to <xref href="ArcGIS.Core.Data.Topology.Topology.Validate(ArcGIS.Core.Data.Topology.ValidationDescription)" data-throw-if-not-resolved="false"></xref>.</p>


## Object Signature

```csharp
public sealed class ValidationResult
```


## Members

### AffectedArea

- Kind: property

<p sourcefile="api/ArcGIS.Core.Data.Topology.ValidationResult.yml" sourcestartlinenumber="1">Gets the envelope of the validated area.</p>


```csharp
public Envelope AffectedArea { get; }
```


